{% extends 'base.html' %}
{% block content %}
  <h2>{{ texts.yesterday }}</h2>
  <table class="stats-table">
    <thead>
      <tr>
        <th>{{ texts.hour }}</th>
        <th>{{ texts.avg_speed }} in</th>
        <th>{{ texts.total }} in</th>
        <th>{{ texts.avg_speed }} out</th>
        <th>{{ texts.total }} out</th>
      </tr>
    </thead>
    <tbody>
      {% for row in yesterday %}
      <tr>
        <td>{{ row.hour }}</td>
        <td>{{ row.avg_in }}</td>
        <td>{{ row.tot_in }}</td>
        <td>{{ row.avg_out }}</td>
        <td>{{ row.tot_out }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>{{ texts.today }}</h2>
  <table class="stats-table">
    <thead>
      <tr>
        <th>{{ texts.hour }}</th>
        <th>{{ texts.avg_speed }} in</th>
        <th>{{ texts.total }} in</th>
        <th>{{ texts.avg_speed }} out</th>
        <th>{{ texts.total }} out</th>
      </tr>
    </thead>
    <tbody>
      {% for row in today %}
      <tr>
        <td>{{ row.hour }}</td>
        <td>{{ row.avg_in }}</td>
        <td>{{ row.tot_in }}</td>
        <td>{{ row.avg_out }}</td>
        <td>{{ row.tot_out }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
